@import "~@angular/material/prebuilt-themes/indigo-pink.css";

  .sizeMap {
    height: 60vh;
    width: 60vh;
  }
  
  .marginTop{
    margin-top:20px ;
  }
  .marginRight{
    margin-right:20px ;
  }
  .textarea{
    width: 83%;
    
  }
  .background-color-button{
    background-color: green !important;
    color: white !important;
    height: 100%;
  }
  
  html, body{
    height: 100%;
    min-width: 300px;
  }

  header {
  }

  footer{
    background: lightgray;
  }
  .flex-item{
    display: flex;
  }
  
  article main{
    flex:auto;
  }
  footer{
    height:3em;
  }
  nav.navbar{
    max-height:4em;
  }
  div.content{
    display: flex;
    flex-direction: column;
    align-items:stretch;
  }
  .tm-min-h{
    min-height: 100%;
  }

  article{
    flex:1;
    position: relative;
  }
  
  .tm-padding{
    padding: 1em;
  }
  
  .tm-full-width{
    width: 100%;
  }
   .zindex-dropdown{
    z-index: 10;
  }
  .spinner{
    background: black;
    position:fixed;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%; /* Высота максимальна */
    left: 0; /* Нулевой отступ слева */
    opacity: 0.50; /* Степень прозрачности */
    top: 0; /* Нулевой отступ сверху */
    width: 100%; /* Ширина максимальна */
    z-index: 100; /* Заведомо быть НАД другими элементами */
  }