<div class="content tm-min-h">
    <header class="flex-item navbar navbar-expand-lg navbar-light bg-light justify-content-between">
      <div>
        <a class="navbar-brand" routerLink='/'>
          <span class="d-lg-none">geoping</span>
          <span class="d-none d-lg-block">geoping</span>
        </a>
        <a class="navbar-brand" routerLink='/two'>
            <span class="d-none d-lg-block">two page</span>
          </a>
      </div>
  
     <button mat-raised-button (click) = "logOut()" class="position-relative zindex-dropdown">log out</button>
    </header>
    <article class="d-flex">
      <main>
        <router-outlet></router-outlet>
      </main>
    </article>
    <footer class="flex-item">Software development 2018</footer>
  </div>
  <div class="spinner center" *ngIf=spinnerIsVisible>
    <div class="row justify-content-center ">
      <div class="col align-self-center ">
        <mat-spinner diameter=100>
        </mat-spinner>
      </div>
    </div>
  </div>