html, body{
    margin: 0;
    padding: 0;
    height: 100%; 
}

#app{
    height: 100%;
}

/*** Deleting ****/
.awdawd-vertical-align-middle{
    vertical-align: middle;
}

.container-div-width-100{
    min-height: 100%;
    position:relative;
}

.container-div-app{
    padding-bottom: 20px;
}

.footer{
    position: absolute;
    margin: 0 0 0 0;
    padding: 0;
    bottom: 0;
    height: 70px;
    background-color: #F0F0E9;
}

.footer-content{
    display: flex;
    align-items: center;
    height: 100%;
}

.footer-text{

}

.content-block{
    min-height: 350px;
    padding-bottom: 40px;
}

.form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 45%;
}

.image-block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30%;
    min-height: 200px;
}

.image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
}

.container-div-readme{
    padding-bottom: 20px;
    min-height: 900px;
    position: relative;
    height: 100%;
}

.input-margin{
    margin: 10px 0 10px 0;
}

.button-cursor-pointer{
    cursor: pointer;
}

.input-error{
    border: solid 1px red;
}

.label{
    margin: 5px 10px 0 5px;
}

.table-margin{
    margin: 10px;
}

.form-style{
    margin: 10px;
    width: 300px;
}

.form-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
/*
    CSS GRID
*/

.wrapper{
    display: grid;
    grid-template-columns: repeat(6, [col] 1fr);
    grid-template-rows: 100px minmax(200px, 1fr) minmax(70px, 100px);
    grid-gap: 5px;
    align-content: stretch;
    height: 100%;
    padding-top: 20px;
}

.wrapper-image{
    grid-column: 3 / 5;
    grid-row: 1;
    align-self: center;
    justify-self: center;
}

.wrapper-image-block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.wrapper-content{
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    align-self: center;
    justify-self: center;
}

.wrapper-content div{
    width: 400px;
}

.input-field{
    margin: 10px 0 10px 0;
}

.div-inlain{
    display: inline;
}

.wrapper-footer{
    grid-column: col / span 7;
    grid-row: 3;
}

.loggin-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer2{
    background-color: rgb(204, 204, 161);
}

.footer-content2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
}