<div class="container">
  <div class="row">
    <div class="col-xl-4">
     
      <div class="marginTop marginRight">
        <button mat-raised-button (click)='setMarkers()'>set markers</button>
      </div>
      <div class="marginTop marginRight">
        <mat-form-field>
          <mat-select #propertiesSelect placeholder="number of markers per side" (change)='getNumberMarkers(propertiesSelect.value)'
            [(value)]='chooseNumberMarkers'>
            <mat-option #selectedCount *ngFor="let count of numberMarkersPerSide" [value]="count">
              {{ count }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <h5 class="marginTop marginRight">distance</h5>
      <mat-slider class="marginTop marginRight" #distance (change)='changeDistance(distance.value)' [max]="max" [min]="min" [step]="step"
         [thumb-label]="thumbLabel"  [(ngModel)]="value" >
      </mat-slider>
      <div>
        {{distanceValue}}
      </div>
      <div>
        <span>X: {{lng}}, Y: {{lat}}</span>
      </div> 
  </div>
    <div class="col-xl-8 align-self-end marginTop">
      <div id="gmap" class="sizeMap marginRight"></div>
      <div class="example-container mat-elevation-z8">
          <mat-table #table [dataSource]="dataSource">
   
            <ng-container matColumnDef="No">
              <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
              <mat-cell *matCellDef="let marker"> {{marker.no}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="Coordinates">
              <mat-header-cell *matHeaderCellDef> Coordinates </mat-header-cell>
              <mat-cell *matCellDef="let marker"> {{marker.coordinates}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="Location">
              <mat-header-cell *matHeaderCellDef> Location </mat-header-cell>
              <mat-cell *matCellDef="let marker"> {{marker.location}} </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
    </div>
  </div>
</div>

