<div class='container-fluid '>
    <div class=tm-padding></div>
    <form class="border rounded col-8 col-sm-6 col-md-5 col-lg-4 mx-auto tm-padding" (submit)="registration($event)" #loginForm="ngForm">
        <div class='col'>
            <mat-form-field class="tm-full-width">
                <input matInput placeholder="Username" >
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="tm-full-width">
                <input type="password" matInput placeholder="Password" >
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="tm-full-width">
                <input type="password" matInput placeholder="Repiat password">
            </mat-form-field>
        </div>
        <button mat-raised-button class='float-right'>registration</button>
        <div class="clearfix"></div>
    </form>
</div>