<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-12 col-xl-5 order-last order-sm-last order-md-fist order-xl-fist  marginTop">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title><strong>X:</strong> {{lng}}, <strong>Y:</strong> {{lat}}</mat-card-title>
            <mat-card-title><strong>Location:</strong> {{location}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
                <mat-form-field class="textarea marginRight">
                  <textarea 
                  matTextareaAutosize
                  matAutosizeMinRows="2"
                  matAutosizeMaxRows="3"
                  #comment 
                  matInput type="text" 
                  placeholder="Enter comment"
                  [(ngModel)]="value"></textarea>
                </mat-form-field>
                <button class="background-color-button" mat-raised-button (click)="setComment(comment.value)">Set check point</button>
          </mat-card-content>
          <mat-card-actions>
              <mat-grid-list cols="5" rowHeight="100px" gutterSize="4px"
              class="marginTop"
              *ngFor="let marker of arrayInfoAboutMarkers">
                  <mat-grid-tile
                      *ngFor="let markerInfo of marker"
                      [colspan]="markerInfo.cols"
                      [rowspan]="markerInfo.rows"
                      [style.background]="markerInfo.color">
                    {{markerInfo.text}}
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <button  class="background-color-button" mat-raised-button (click)="checkIn(marker[0].index)">check place</button>
                  </mat-grid-tile>
                </mat-grid-list>
          </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-12 col-sm-12 col-xl-7 order-first order-sm-first order-md-last order-xl-last  marginTop">
      <div id="gmap" class="sizeMap marginRight"></div>
    </div>
  </div>
</div>